<div class="view-map">
    <button type="submit" style="background-color: #b22830;">
        <a href="map.html" target="_blank" style="text-decoration: none;color:#fff;">VIEW MAP</a>
    </button>
</div>
<div class="social">
    <ul>
        <li>
            <a href="" target="_blank">
                <img src="./assets/img/fb.png" alt="">
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="./assets/img/yt.png" alt="">
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="./assets/img/ig.png" alt="">
            </a>
        </li>
    </ul>
    <div class="copyright">© 2018 Highlands Coffee. All rights reserved</div>const footerHTML = `
</div>