<!--wrapper-->
<div class="wrapper">
    <!--left-->
    <div class="left">
        <a href="index.html" alt>
            <img src="./assets/img/LOGO.png" alt="">
        </a>
    </div>
    <!--end left-->
    <!--right-->
    <div class="right">
        <!--Menu-->
        <div class="menu">
            <ul>
                <li>
                    <a href="map.html">
                        <b><span class="cf"><strong>QUÁN CÀ PHÊ</strong></span></b>
                    </a>
                </li>
                <li>
                    <a href="menu.html">
                        <span class="td"><strong>THỰC ĐƠN</strong></span>
                    </a>
                </li>
                <li>
                    <a href="news.html">
                        <span class="tt"><strong>TIN TỨC</strong></span>
                    </a>
                </li>
                <li>
                    <a href="socials.html">
                        <span><strong class="cd">TRÁCH NHIỆM CỘNG ĐỒNG</strong></span>
                    </a>
                </li>
                <li>
                    <a href="aboutUS.html">
                        <span><strong class="ct">VỀ CHÚNG TÔI</strong></span>
                    </a>
                </li>   
            </ul>      
        </div>
        <!--end menu-->
        <!--tools-->
        <div class="tools">
            <div class="search-header">
                <form id="formsearch" name="formsearch" method="post" class="boxsearch">
                    <input name="keyword" id="keyword" type="text" class="textsearch" placeholder="Từ khóa" value>
                    <button name="btsearch" type="submit" value>
                        <img src="https://www.highlandscoffee.com.vn/skins/default/images/i-search.svg" alt="search">
                        <input name="search" value="1" type="hidden">
                    </button>
                </form>
            </div> 
            <div class="language">
                <ul>
                    <li>
                        <a href="#" alt>
                            <img src="./assets/img/VN.jpg" alt="VN">
                        </a>
                    </li>
                    <li>
                        <a href="#" alt>
                            <img src="./assets/img/UC.jpg" alt="EN">
                        </a>
                    </li>
                </ul>
            </div>
        </div>      
        <!--end tools-->
        
        
    </div>
    <!--end right-->
</div>
<!--end wrapper-->