body, html{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
/*--container--*/
#container{
    max-width: 1920px;
    margin :0 auto;
    padding: 0px;
    display: block;
    position: relative;
}
/*--header--*/
@media only screen and (max-width: 768px)
{
    #container>.header{padding: 5px 0px;}
}
.header{
    border-top: solid 10px #53382c;
    background-color: #b22830;  
    position: relative;
}
/*--wrapper--*/
.header>.wrapper{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
/*--left--*/
.wrapper .left{
    max-width: 110px;
    min-height: 80px;
    padding: 10px 5px;
}
/*--Img logo--*/
@media(max-width: 991px)
{
    .left img{max-width: 70px;
              margin-right: 0px;}
}
img{
    width: 100%;
    border: none;
}
/*--right*--*/
.wrapper .right{
    max-width: 1120px;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*tools*/

@media(max-width:991px){
    .tools{
            margin-bottom: 0px;
    }
}
.tools{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*search*/
.search-header{
    width: 260px;
    background: #ffffff;
    position: relative;
    margin-right: -12px;
    box-sizing: border-box;
}
@media (max-width: 767px){
    .search-header{
            display: none!important;
    }
}
/*form search*/
form{
    margin-right: 0px;
    padding: 0px;
    display: block;
}
.search-header input{
    width: 190px;
    height: 30px;
    border: none;
    color: #2a2a2a;
}
input{
    text-rendering: auto;
    letter-spacing: normal;
    text-decoration: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    cursor: text;

}
.search-header button{
    padding: 0px;
    background: none;
    border: none;
    margin: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    cursor: pointer;
    overflow: visible;
    text-transform: none;
    text-align: center;
    font:inherit;
    color: inherit;
}
.search-header button img{
    width: 15px;
}
img{
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
}
/*language*/
@media(max-width:991px)
{
    .language{
        margin-right: 10px;
    }
}
.language ul{ 
    list-style: none;
    display: flex;
    align-items: center;
}
.language ul li{
    margin-right: 10px;
    box-sizing: border-box;
    display: list-item;
}
.language ul li a{
    text-decoration: none;
    color: #333333;
}
.language ul li a img{
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

/*menu*/
.menu{
    margin-bottom: -20px;
}
@media(max-width: 767px){
    .menu{
            display: none!important;
    }
}
.menu ul{
    list-style: none;
    display:inline-flex ;
    margin-block-start: 1.1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}
.menu ul li{
    display: list-item;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu>ul>li>a{
    float: inline-end;
    text-decoration:none;
    text-decoration-style:solid ;
    display: block;
    font-family: 'fontkhachhang';
    font-size: 11px;
    line-height: 25px;
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
    padding-right: 50px;
    
}
a:hover{
    background:#50090c;
    color: #b22830;

}
/*content*/
h1 {
    text-align: center;
    font-size:45px;
    color: #fff;
}
h2{
    text-align: center;
    color:#fff;
}
.top .one h1 
{
    color:#53382c;
}
.top .one h2 
{
    color:#333;
}
.top .one p
{
    color:#333;
}
p {
text-align: center;
padding: 20px;
color: #fff;
}
.content{
    width: 100%;
    height: 1200px;
    background-color: rgb(247, 242, 239);
}
.content .top{
    width: 100%;
    height: 400px;
    background-color: rgb(247, 242, 239);
}
.content .top .one
{
    width: 50%;
    height: 400px;
    background-color:  rgb(247, 242, 239);
    float:left;
} 
.content .top .two
{
    width: 50%;
    height: 400px;
    background-image: url('../img/ABOUT-ORIGIN.png');
    background-size: cover;
    float: left;
}

.content .mid{
    width: 100%;
    height: 400px;
    background-color: rgb(189, 148, 93);
}
.content .mid .one
{
    width: 50%;
    height: 400px;
    background-image: url('../img/About_Customer_service_2.jpg');
    background-size: cover;
    float:left;
}
.content .mid .two
{
    width: 50%;
    height: 400px;
    background-color: rgb(189, 148, 93);
    float:left;
}

.content .bottom{
    width: 100%;
    height: 400px;
    background-color: rgb(142, 90, 45);
}
.content .bottom .one{
    width :50%;
    height:400px;
    background-color: rgb(142, 90, 45);
    float:left;
}
.content .bottom .two{
    width:50%;
    height:400px;
    background-image: url('../img/ABOUT-CAREER3.jpg');
    background-size: cover;
    float:left;
}
/*footter*/
.footer{
    width: 100%;
    height: auto;
    background-color: #53382c;
    border-top: solid 5px #53382c;
    text-align: center;
}
.footer .view-map{
    width: 500px;;
    height: 50px;
    margin: 10px auto;
}
.footer .view-map button{
    width: 100%;
    height: 80%;
}

.footer .social{
    width: 100%;
    margin: 0 auto;;
    text-align: center;
}
.footer .social ul{
    margin-right: 30px;
    list-style: none;
    margin-bottom: 5px;
}
.footer .social ul li{
    display: inline-block;
}
.footer .social ul li a{
    text-decoration: none;
}
.footer .social .copyright{
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}

/*---------gotop---*/
a#go_top{
    width: 55px;
    height: 55px;
    position: fixed;
    background: #ffffff;
    bottom: 80px;
    right: 15px;
    border-radius: 100%;
    z-index: 11;
    border: solid 1px #878787;
}
