body, html{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
/*--container--*/
#container{
    max-width: 1920px;
    margin :0 auto;
    padding: 0px;
    display: block;
    position: relative;
}
/*--header--*/
@media only screen and (max-width: 768px)
{
    #container>.header{padding: 5px 0px;}
}
.header{
    border-top: solid 10px #53382c;
    background-color: #b22830;  
    position: relative;
}
/*--wrapper--*/
.header>.wrapper{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
/*--left--*/
.wrapper .left{
    max-width: 110px;
    min-height: 80px;
    padding: 10px 5px;
}
/*--Img logo--*/
@media(max-width: 991px)
{
    .left img{max-width: 70px;
              margin-right: 0px;}
}
img{
    width: 100%;
    border: none;
}
/*--right*--*/
.wrapper .right{
    max-width: 1120px;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*tools*/

@media(max-width:991px){
    .tools{
            margin-bottom: 0px;
    }
}
.tools{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*search*/
.search-header{
    width: 260px;
    background: #ffffff;
    position: relative;
    margin-right: -12px;
    box-sizing: border-box;
}
@media (max-width: 767px){
    .search-header{
            display: none!important;
    }
}
/*form search*/
form{
    margin-right: 0px;
    padding: 0px;
    display: block;
}
.search-header input{
    width: 190px;
    height: 30px;
    border: none;
    color: #2a2a2a;
}
input{
    text-rendering: auto;
    letter-spacing: normal;
    text-decoration: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    cursor: text;

}
.search-header button{
    padding: 0px;
    background: none;
    border: none;
    margin: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    cursor: pointer;
    overflow: visible;
    text-transform: none;
    text-align: center;
    font:inherit;
    color: inherit;
}
.search-header button img{
    width: 15px;
}
img{
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
}
/*language*/
@media(max-width:991px)
{
    .language{
        margin-right: 10px;
    }
}
.language ul{ 
    list-style: none;
    display: flex;
    align-items: center;
}
.language ul li{
    margin-right: 10px;
    box-sizing: border-box;
    display: list-item;
}
.language ul li a{
    text-decoration: none;
    color: #333333;
}
.language ul li a img{
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

/*menu*/
.menu{
    margin-bottom: -20px;
}
@media(max-width: 767px){
    .menu{
            display: none!important;
    }
}
.menu ul{
    list-style: none;
    display:inline-flex ;
    margin-block-start: 1.1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}
.menu ul li{
    display: list-item;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu>ul>li>a{
    float: inline-end;
    text-decoration:none;
    text-decoration-style:solid ;
    display: block;
    font-family: 'fontkhachhang';
    font-size: 11px;
    line-height: 25px;
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
    padding-right: 50px;
    
}
a:hover{
    background:#50090c;
    color: #b22830;

}

/*-----content*/
.content
{
    min-height: calc(100vh - (120px + 60px));
    margin: 0px;
    display: flex;
}
.content .menu-order{
    width: 100%;
    padding: 95px 0;
    height: auto;
    background-color: #fff;
}
.edge{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.edge .edge-order{
    width: 60%;
    height: 100%;
    margin-bottom: 35px;
    float: left;
}

.edge-order .product{
    width: 100%;
    height: auto;
}
.product .title-pr{
    width: auto;
    height: auto;
    margin: 0px;
}

.title-pr h1{
    font-size: 35px;
    line-height: 24px;
    color: #53382c;
    font-weight: bold;
}

.product .product-od{
    width: auto;
    height: 370px;
 
}

.product-od img{
    width: 50%;
    height: auto;
    border: solid 1px #c7bdb8;
    margin-right: 10px;
}
.product-od p{
    text-align: justify;
}
.product-od button{
    border-radius: 15px;
    background-color: #b22830;
    width: 40%;
    height: auto;
    margin-left: 30px;
}
.product-od button>p{
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}
.product-od .size{
    width: 30%;
    height: auto;
    float:left;
    margin-left:40px;
}
.size ul{
    list-style: none;
}
.size ul li{
    display: inline-block;
    margin-right: 10px;
    border: solid 1px #333;
    border-color: #b22830 ;
    width: 20px;
    text-align: center;
}
.size ul li a{
    text-decoration: none;
    color: #333;
    text-align: left;
    font-size: 20pxx;
    line-height: 24px;
    font-weight: bold;

}
.size ul li a:hover{
    background: none;
}
.product-od .product-pr{
    width: 20%;
    display: inline-block;
    margin-left: 80px;
   
}
.product-pr strong{
    color: #53382c;
}

.edge .others-order{
    width: 100%;
    height: auto;
    
    margin-top: 40px;
}
.others-order .others{
    width: 100%;
    height: auto;
    
}
.others ul{
    list-style: none;
    padding: 10px 15px;

}
.others ul >li{
    width: 20%;
    display: inline-block;
    border: solid 1px #333;
    text-align: center;
    margin-right: 40px;

}
.others ul li a{
    text-decoration:none;
    color: #53382c;
}
.others ul li a:hover{
    background: none;
}
.others ul li a span{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}


/*---------------footer------------*/
.footer{
    width: 100%;
    height: auto;
    background-color: #53382c;
    border-top: solid 5px #53382c;
    text-align: center;
}

.footer .social{
    width: 100%;
    margin: 0 auto;;
    text-align: center;
}
.footer .social ul{
    margin-right: 30px;
    list-style: none;
    margin-bottom: 5px;
}
.footer .social ul li{
    display: inline-block;
}
.footer .social ul li a{
    text-decoration: none;
}
.footer .social .copyright{
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}

/*---------gotop---*/
a#go_top{
    width: 55px;
    height: 55px;
    position: fixed;
    background: #ffffff;
    bottom: 80px;
    right: 15px;
    border-radius: 100%;
    z-index: 11;
    border: solid 1px #878787;
}